@import '../utilidades/variables';
@import 'mediaQueries';

/*   CARRUSEL DE IMAGENES   */

.indexMain__carrusel {
    @include medidas(100%, 50vh);

    .indexMain__carruselContainer {
        @include medidas(100%, 100%);
    }
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    @include medidas(100%, 100%);

    & img {
        @include medidas(100%, 100%);
        object-fit: cover;
    }
}

/*   SECTION CATEGORÃAS   */

.indexMain__categorias {
    padding: 0 5rem;
    margin-top: 2rem;

    @include miniMobile {
        padding: 0 2rem;
    }
}

.indexMain__categoriasTitulo {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    @include miniMobile {
        margin-bottom: 0;

        & h2 {
            font-size: 1.3rem;
        }
    }

    & a {
        text-decoration: none;

    }

    & h4 {
        color: $negro;
        border-bottom: $borderBlanco;
        transition: $transicion;

        @include miniMobile {
            font-size: 1rem;
        }

    }

    & a:hover>h4 {
        border-bottom: $borderNegro;
    }
}

.producto {
    overflow: hidden;
    padding: 0;

    & img {
        width: 100%;
        transition: $transicion;
    }

    &:hover img {
        transform: scale(1.1, 1.1);
    }

    &--destacado,
    &--oferta {
        position: relative;
    }
}


.producto__numeroTop {
    @include medidas(3rem, 2rem);
    position: absolute;
    right: 0;
    background-color: $negro;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: .3rem;
    z-index: 110;

    & span {
        color: $blanco;
    }
}

.producto__info {
    position: relative;
    z-index: 100;
    background: $blanco;
}

/*   SECTION DESTACADOS   */

.indexMain__destacados {
    /* grid-area: loMasVendido; */
    padding: 0 5rem;

    @include miniMobile {
        padding: 0 2rem;
    }
}

.indexMain__destacadosTitulo {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    @include miniMobile {
        margin-bottom: 0;

        & h2 {
            font-size: 1.3rem;
        }
    }


    & a {
        text-decoration: none;
    }

    & h4 {
        color: $negro;
        border-bottom: $borderBlanco;
        transition: $transicion;

        @include miniMobile {
            font-size: 1rem;
        }

    }

    & a:hover>h4 {
        border-bottom: $borderNegro;
    }

}



/*   SECTION OFERTAS   */

.indexMain__ofertas {
    padding: 0 5rem 2rem 5rem;

    @include miniMobile {
        padding: 0 2rem 2rem 2rem;
    }
}

.indexMain__ofertasTitulo {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    @include miniMobile {
        margin-bottom: 0;
    }

    & h2 {
        display: inline;

        @include miniMobile {
            font-size: 1.3rem;
        }

    }

    & a {
        text-decoration: none;
    }

    & h4 {
        color: $negro;
        border-bottom: $borderBlanco;
        transition: $transicion;

        @include miniMobile {
            font-size: 1rem;
        }
    }

    & a:hover>h4 {
        border-bottom: $borderNegro;
    }
}

.producto__info--oferta :nth-child(2) {
    text-decoration: line-through;
}