@import '../utilidades/variables';
@import 'mediaQueries';


.indexMain {
    background: linear-gradient(to bottom, $colorSecundario, $colorTerciario);
}

/*   CARRUSEL DE IMAGENES   */

.indexMain__carrusel {
    @include medidas(100%, 50vh);

    .indexMain__carruselContainer {
        @include medidas(100%, 100%);
    }
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    @include medidas(100%, 100%);
    position: relative;

    & img {
        @include medidas(100%, 100%);
        object-fit: cover;
        filter: brightness(70%);
    }

    &__h3,
    &__h4,
    &__a {
        position: absolute;
        color: $colorTerciario;
        font-size: 3rem;
        top: 3rem;
        left: 10rem;

        @include tablet {
            font-size: 2.5rem;
            left: 8rem;
        }

        @include mobile {
            font-size: 2rem;
            left: 6rem;
        }

        @include miniMobile {
            font-size: 1.8rem;
            left: 2.5rem;
        }
    }

    &__h4 {
        font-size: 1.3rem;
        top: 8rem;

        @include miniMobile {
            font-size: .8rem;
        }
    }

    &__a {
        top: 11rem;
        text-decoration: 1px solid transparent;
        font-size: 3rem;
        font-weight: 700;
        transition: $transicion;
    }

    &:hover>&__a {
        color: $colorTerciario;
        transform: scale(1.1, 1.1);
        text-decoration: underline;
    }
}

.carousel-control-next,
.carousel-control-prev {
    width: 11%;
}

/*   SECTION CATEGORÃAS   */

.indexMain__categorias {
    padding: 0 5rem;
    margin-top: 2rem;

    @include miniMobile {
        padding: 0 2rem;
    }
}

.indexMain__categoriasTitulo {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    @include miniMobile {
        margin-bottom: 0;
    }

    & h2 {
        color: $colorPrimario;

        @include miniMobile {
            font-size: 1.2rem;
        }
    }

    & a {
        text-decoration: none;

        @include miniMobile {
            text-align: right;
        }

    }

    & h4 {
        color: $colorPrimario;
        border-bottom: transparent;
        transition: $transicion;

        @include miniMobile {
            font-size: .9rem;
        }

    }

    & a:hover>h4 {
        border-bottom: $borderPrimario;
    }
}

.indexMain__modalProducto {

    &:focus {
        box-shadow: none;
    }
}

.producto {
    overflow: hidden;
    padding: .2rem;
    border-radius: .5rem;
    background: $colorTerciario;
    transition: $transicion;

    & img {
        width: 100%;
        border-radius: .5rem;
        transition: $transicion;
    }

    &:hover {
        @include shadowTranslate(4px, 4px, 10px, $colorPrimario, 0, -3px);
    }

    &--destacado,
    &--oferta {
        position: relative;
    }
}


.producto__numeroTop {
    @include medidas(3rem, 2rem);
    position: absolute;
    right: 0;
    background-color: $colorTerciario;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: .3rem;
    z-index: 110;

    & span {
        font-weight: 700;
        color: $colorPrimario;
    }
}

.producto__info {
    position: relative;
    z-index: 100;
    background: $colorTerciario;
}

/*   SECTION DESTACADOS   */

.indexMain__destacados {
    /* grid-area: loMasVendido; */
    padding: 0 5rem;

    @include miniMobile {
        padding: 0 2rem;
    }
}

.indexMain__destacadosTitulo {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    @include miniMobile {
        margin-bottom: 0;
    }

    & h2 {
        color: $colorPrimario;

        @include miniMobile {
            font-size: 1.2rem;
        }
    }

    & a {
        text-decoration: none;

        @include miniMobile {
            text-align: right;
        }
    }

    & h4 {
        color: $colorPrimario;
        border-bottom: transparent;
        transition: $transicion;

        @include miniMobile {
            font-size: .9rem;
        }

    }

    & a:hover>h4 {
        border-bottom: $borderPrimario;
    }

}



/*   SECTION OFERTAS   */

.indexMain__ofertas {
    padding: 0 5rem 2rem 5rem;

    @include miniMobile {
        padding: 0 2rem 2rem 2rem;
    }
}

.indexMain__ofertasTitulo {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    @include miniMobile {
        margin-bottom: 0;
    }

    & h2 {
        display: inline;
        color: $colorPrimario;

        @include miniMobile {
            font-size: 1.2rem;
        }

    }

    & a {
        text-decoration: none;

        @include miniMobile {
            text-align: right;
        }
    }

    & h4 {
        color: $colorPrimario;
        border-bottom: transparent;
        transition: $transicion;

        @include miniMobile {
            font-size: .9rem;
        }
    }

    & a:hover>h4 {
        border-bottom: $borderPrimario;
    }
}

.producto__info--oferta :nth-child(2) {
    text-decoration: line-through;
}